Component.InstrumentManagement/Type 1077/PM.Type1077/Type1077/Firmware/Firmware.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Firmware Schema Description for Type 1077 -->
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Firmware">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InstrumentType"/>
        <xs:element ref="CheckSum"/>
        <xs:element ref="Date" />
        <xs:element ref="Version" />
        <xs:element ref="BuildNumber" />
        <xs:element ref="Descriptions"/>
        <xs:element ref="LanguagePack" />
        <xs:element ref="Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

   <xs:element name="Descriptions">
     <xs:complexType>
       <xs:sequence>
         <xs:element ref="Description" minOccurs="0" maxOccurs="unbounded" />
       </xs:sequence>
     </xs:complexType>
   </xs:element>

   <xs:element name="Description">
     <xs:complexType>
       <xs:simpleContent>
         <xs:extension base="xs:string">
           <xs:attribute name="Language" type="xs:string"/>
         </xs:extension>
       </xs:simpleContent>
     </xs:complexType>
   </xs:element>

   <xs:element name="LanguagePack">
     <xs:complexType>
       <xs:sequence>
         <xs:element ref="LanguageCode" minOccurs="0" maxOccurs="unbounded" />
       </xs:sequence>
       <xs:attribute name="ID" type="xs:string"/>
     </xs:complexType>
   </xs:element>

   <xs:element name="Date">
     <xs:simpleType>
      <xs:restriction base="xs:dateTime" />
     </xs:simpleType>
   </xs:element>

   <xs:element name="Version">
     <xs:simpleType>
       <xs:restriction base="xs:string" />
     </xs:simpleType>
   </xs:element>
   
   <xs:element name="BuildNumber">
     <xs:simpleType>
       <xs:restriction base="xs:integer" />
     </xs:simpleType>
   </xs:element>

   <xs:element name="LanguageCode">
     <xs:simpleType>
       <xs:restriction base="xs:string" />
     </xs:simpleType>
   </xs:element>

   <xs:element name="CheckSum">
     <xs:simpleType>
       <xs:restriction base="xs:string" />
     </xs:simpleType>
   </xs:element>
   
   <xs:element name="Image">
     <xs:simpleType>
       <xs:restriction base="xs:string" />
     </xs:simpleType>
   </xs:element>

   <xs:simpleType name="GuidType">
     <xs:restriction base="xs:string">
       <xs:length value="36" />
       <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
     </xs:restriction>
   </xs:simpleType>
   
   <xs:element name="InstrumentType">
     <xs:simpleType>
       <xs:restriction base="GuidType" />
     </xs:simpleType>
   </xs:element>

 </xs:schema>
