Component.DataExchange/eSP/PM.DataExchange.eSP/Service/eSPSyncAllResponse.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by XMLSPY 2006 Enterprise Ed. Release 3, Installed for 2
users (with SMP from 2006-06-16 to 2007-06-17) (Northgate Information Solutions UK Limited) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="espSyncAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MessageRef" />
        <xs:element ref="MessageDateTime" />
        <xs:element ref="RequestResult" />
        <xs:element ref="FailureReason" />
        <xs:element ref="SiteFacilityData" />
        <xs:element ref="ScreeningDevices" />
        <xs:element ref="DeviceUsers" />
        <xs:element ref="RiskFactors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="espDeviceCode" type="xs:integer" nillable="false" />
  <xs:element name="SiteFacilityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FacilityDetails" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerialNumber" nillable="true">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ScreeningDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DeviceDetails" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestResult">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="4" />
        <xs:enumeration value="pass" />
        <xs:enumeration value="fail" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MessageRef" type="GUIDType" nillable="false" />
  <xs:element name="MessageDateTime" type="xs:dateTime" nillable="false" />
  <xs:element name="FailureReason">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="60" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FacilityName" nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="80" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FacilityType" nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FacilityID" type="xs:integer" nillable="false" />
  <xs:element name="FacilityDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FacilityID" />
        <xs:element ref="FacilityName" />
        <xs:element ref="FacilityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceName" nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DeviceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="espDeviceCode" />
        <xs:element ref="DeviceName" />
        <xs:element ref="SerialNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UserDetails" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScreenerId" nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="espUserID" type="xs:integer" nillable="false" />
  <xs:element name="UserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ScreenerId" />
        <xs:element ref="espUserID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiskFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RiskFactorId" />
        <xs:element ref="RiskFactorValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiskFactors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RiskFactor" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiskFactorId" type="xs:integer" />
  <xs:element name="RiskFactorValue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:simpleType name="GUIDType">
    <xs:restriction base="xs:string">
      <xs:length value="36" />
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>