Component.DataExchange/eSP/PM.DataExchange.eSP/Service/eSPSyncAllRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by XMLSPY 2006 Enterprise Ed. Release 3, Installed for 2 users (with SMP from 2006-06-16 to 2007-06-17) (Northgate Information Solutions UK Limited) -->
<!-- (Northgate Information Solutions UK Limited) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="espSyncAllRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageRef"/>
				<xs:element ref="SiteCode"/>
				<xs:element ref="ManufacturerID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SiteCode" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageRef" type="GUIDType" nillable="false"/>
	<xs:element name="ManufacturerID" type="xs:integer" nillable="false"/>
	<xs:simpleType name="GUIDType">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>


